<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/custom.css" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicons/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicons/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicons/favicon-16x16.png' | relative_url }}">
  <link rel="manifest" href="{{ '/assets/favicons/site.webmanifest' | relative_url }}">
</head>
<body>
  <header>
    <h1><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>
      <i><b>Privacy Notice</b>: This website does not use cookies or collect any personal data. No tracking, no analytics, no third-party services.</i>
    </p>
  </footer>
</body>
</html>
